{%extends "layout.html"%}

{%block title%}
My site meta title page one
{%endblock%}

{%block content%}
<div class="container">
	<h2>The following data is in your database</h2>
	<table style="width:100%", border="1">
		<tr>
			<th>id</th>
			<th>timestamp</th>
			<th>username</th>
			<th>password</th>
		</tr>
		{% for user in users %}    
		<tr>               
			<td>{{user[0]}}</td>
			<td>{{user[1]}}</td>
			<td>{{user[2]}}</td>
			<td>{{user[3]}}</td>                          
		</tr>
		{% endfor %}    
</table>

	<hr>
	<div class="col-md-12">
            Links:
            <br>
            <a href="/form">/form</a><br>
            <a href="/read_db">/read_db</a>

          </div>
</div><!-- Container -->

{%endblock%}